@charset "utf-8";

/* import-css */
@import url(reset.css);

/* import web-font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

/* web fonts setting */
/* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* font-family */
  --main-font: 'Montserrat', sans-serif;
  --korean-font: Pretendard, sans-serif;
  --title-font: 'Roboto', sans-serif;

  /* Color */
  --bg1-white: #fff;
  --bg2-light-white: #f2f2f2;
  --color-white: #fff;
  --color-dark-grey: #333;
  --color-grey: #7e7e7e;
  --point-blue: #00a1df;
  --color-black: #10181f;
  --dark-p-color: #a9afde;
  --dark-service-color: #24799e;
  --dark-bg-black: #000;

  /* Font size */
  --font-x-large: 6rem;
  --font-large: 4.5rem;
  --font-medium: 2.2rem;
  --font-regular: 1.8rem;
  --font-small: 1.6rem;
  --font-micro: 1.4rem;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 200;

  /* size */
  --size-border-radius: 10px;
}

/* ------- common ------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--korean-font);
  cursor: none;
}

p {
  font-size: var(--font-small);
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

/* h1 ~ h4 */
h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--weight-extra-bold);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}
/* mouse cursor custom */

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #00a1df;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 10;
  backdrop-filter: fill-opacity(70%);
}

.link-grow {
  transform: scale(2);
  background: #00a1df39;
  border: none;
}

/* --------- layout --------- */

/* ------ header ------ */
header {
  width: 288px;
  height: 100%;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--main-font);
}

/* header - menu-box */
header .menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #ccc;
  color: var(--color-black);
}

header .switch-handle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  left: 10px;
}

header .switch-handle .light-text,
header .switch-handle .dark-text {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header .switch-handle .dark-text {
  display: none;
}

/* header - nav */
header nav {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

header nav ul li {
  margin-bottom: 15px;
}

header nav ul li a {
  position: relative;
  display: block;
  padding: 8px 0;
  font-family: var(--korean-font);
  font-size: 19px;
  font-weight: var(--weight-extra-bold);
  text-decoration: none;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 1px #00a1df;
  background: linear-gradient(#00a1df 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.5s linear;
}

header nav ul li a:hover {
  background-size: 100%;
}

/* bootstrap - 기본 설정 색 없앰. */
a:focus,
a:hover {
  color: transparent;
  text-decoration: none;
}

/* header - author */
header .author {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border-top: 1px solid #ccc;
}

header img {
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  display: inline-block;
}
header .author-text {
  padding-left: 13px;
}

header .author-text h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  margin-bottom: 10px;
}

header .author-text a {
  font-size: 1.3rem;
  font-weight: var(--weight-medium);
  color: var(--color-grey);
  letter-spacing: -0.1px;
}

/* ------ main ------ */
/* ---- main #home ---- */

#home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--bg2-light-white);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home .sec1 {
  display: flex;
  align-items: center;
}

.main-img {
  width: 400px;
  height: 400px;
  position: relative;
  top: -50px;
  left: -50px;
}

.main-img svg {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.main-img svg,
.main-img .img-box {
  position: absolute;
}

.main-img .img-box {
  width: 450px;
  height: 450px;
  background: url('../images/lg/img-user.jpg') no-repeat 89% -40%;
  background-size: 90%;
  -webkit-clip-path: url('#shape');
  clip-path: url('#shape');
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.sec1 .text {
  width: 600px;
}

.sec1 .tlt {
  font-size: var(--font-x-large);
  margin-bottom: 25px;
}

.sec1 .text p {
  line-height: 1.4;
  margin-bottom: 30px;
}

.sec1 .text p span {
  color: var(--point-blue);
  font-weight: var(--weight-semi-bold);
}

.sec1 .btn1 {
  width: 170px;
  height: 45px;
  display: inline-block;
  border: 2px solid transparent;
  background: var(--point-blue);
  border-radius: 15px;
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  line-height: 41px;
  text-align: center;
  color: var(--color-white);
}

.sec1 .btn1:hover {
  border: 2px solid var(--point-blue);
  background: transparent;
  color: #00a1df;
}
/* scroll down */

.scrolldown {
  margin: 0 auto;
  opacity: 0.6;
  position: relative;
  top: 70px;
  left: 0;
  transition: opacity 0.9s;
  width: 34px;
  height: 10px;
}
.scrolldown:hover {
  opacity: 1;
}
.scrolldown:hover .help-mouse-wheel:before,
.scrolldown:hover .help-mouse-wheel:after {
  animation: indicator-up-down 1.5s infinite ease-in-out;
  height: 8px;
  opacity: 0;
}
.scrolldown:hover .help-down {
  animation: arrow-down 0.3s infinite alternate;
}
.help-mouse-down {
  border: 2px solid var(--color-dark-grey);
  border-radius: 17px;
  height: 50px;
  margin: 15px auto 10px;
  position: relative;
  width: 30px;
}
.help-mouse-wheel {
  position: relative;
  left: 50%;
  transition: opacity 0.5s;
}
.help-mouse-wheel:before,
.help-mouse-wheel:after {
  content: '';
  background: var(--color-dark-grey);
  border-radius: 50%;
  margin-left: -2px;
  height: 4px;
  position: absolute;
  top: 5px;
  transition: top 0.5s, height 0.5s, opacity 0.5s;
  width: 4px;
}
.help-mouse-wheel:before {
  animation: scroll 1.5s 0.75s infinite ease-in-out;
}
.help-mouse-wheel:after {
  animation: scroll 1.5s infinite ease-in-out;
}
.help-down {
  animation: arrow-down 0.6s infinite alternate ease-in-out;
  border-bottom: 2px solid #cdcdcd;
  border-right: 2px solid #cdcdcd;
  display: block;
  height: 5px;
  margin: 0 auto;
  transform: rotate(45deg);
  transition: opacity 0.5s;
  width: 5px;
}
@-moz-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-webkit-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-o-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-moz-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-webkit-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-o-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-moz-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@-webkit-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@-o-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}

/* main #about */
#about {
  width: 100%;
  height: 100vh;
}
