@charset "utf-8";

/* import-css */
@import url(reset.css);

/* import web-font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

/* web fonts setting */
/* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* font-family */
  --main-font: 'Montserrat', sans-serif;
  --korean-font: Pretendard, sans-serif;
  --title-font: 'Roboto', sans-serif;

  /* Color */
  --bg1-white: #fff;
  --bg2-light-white: #f2f2f2;
  --color-white: #fff;
  --color-dark-grey: #333;
  --color-grey: #7e7e7e;
  --point-blue: #00a1df;
  --color-black: #10181f;
  --service-color: #24799e;
  --dark-p-color: #a9afde;
  --dark-bg1-black: #191c26;
  --dark-bg2-black: #111319;

  /* Font size */
  --font-x-large: 6rem;
  --font-large: 4rem;
  --font-medium: 2.2rem;
  --font-regular: 1.8rem;
  --font-small: 1.6rem;
  --font-x-small: 1.4rem;
  --font-micro: 1.2rem;

  /* Font weight */
  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 200;

  /* size */
  --size-border-radius: 10px;
}

/* ------- common ------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--korean-font);
  cursor: none;
}

p {
  font-size: var(--font-small);
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

/* h1 ~ h4 */
h1,
h2,
h3,
h4 {
  font-family: var(--main-font);
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--weight-extra-bold);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

/* mouse cursor custom */

.cursor {
  width: 50px;
  height: 50px;
  border: 2px solid #00a1df;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 10;
  backdrop-filter: fill-opacity(70%);
}

.link-grow {
  transform: scale(2);
  background: #00a1df39;
  border: none;
}

/* darkmode */
.header-wrap.act,
.mobile-header.act {
  background: #000;
  color: var(--color-white);
}

.mobile-header.act .mobile-middle-box li a {
  color: var(--color-white);
}

/* hamburger button menu - darkmode */
.hamburger-button span.act {
  background: var(--color-white);
}

.overlay.act {
  background: rgba(0, 0, 0, 0.9);
}

.overlay.act nav ul li a {
  color: var(--color-white);
}

.header-wrap.act .menu-box {
  border-bottom: 1px solid #191c26;
}
.header-wrap.act .author {
  border-top: 1px solid #191c26;
}

.header-wrap.act .switch-handle,
.mobile-header.act .switch-handle {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-wrap.act .light-text,
.mobile-header.act .light-text {
  display: none;
}

.header-wrap.act .dark-text,
.mobile-header.act .dark-text {
  display: block;
  color: var(--color-white);
}

.header-wrap.act .logo,
main.act > section a {
  color: var(--color-white) !important;
}

main.act > section:nth-child(odd) {
  background: var(--dark-bg1-black) !important;
  color: var(--color-white);
}
main.act > section:nth-child(even),
footer.act {
  background: var(--dark-bg2-black) !important;
  color: var(--color-white);
}

main.act > section a.active {
  color: var(--point-blue) !important;
}

main.act > section h4 {
  color: #000;
}

main.act #contact .contact-card .card {
  background: var(--dark-bg2-black);
}

main.act #contact .contact-card .card h4 {
  color: var(--color-white);
}

main.act .qr-dark {
  display: block;
}

main.act .qr-light {
  display: none;
}

/* --------- layout --------- */
.page-content {
  padding-left: 288px;
}

.section1-p {
  padding-left: 288px;
}

.mobile-header {
  display: none;
}

.overlay {
  display: none;
}

/* ------ header ------ */

.header-container {
  display: none;
}

.header-wrap {
  width: 288px;
  height: 100%;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--main-font);
  background: var(--color-white);
  z-index: 1;
}

/* header - menu-box */
header .menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #ccc;
  color: var(--color-black);
}

header .switch-handle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  left: 10px;
}

header .switch-handle .light-text,
header .switch-handle .dark-text {
  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header .switch-handle .dark-text {
  display: none;
}

/* header - nav */
header nav {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

header nav ul li {
  margin-bottom: 15px;
}

header nav ul li a {
  position: relative;
  display: block;
  padding: 8px 0;
  font-family: var(--korean-font);
  font-size: 17px;
  font-weight: var(--weight-extra-bold);
  text-decoration: none;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 1px #00a1df;
  background: linear-gradient(#00a1df 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.5s linear;
}

header nav ul li a:hover {
  background-size: 100%;
}

/* bootstrap - 기본 설정 색 없앰. */
a:focus,
a:hover {
  color: transparent;
  text-decoration: none;
}

/* header - author */
header .author {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border-top: 1px solid #ccc;
}

header img {
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  display: inline-block;
}
header .author-text {
  padding-left: 13px;
}

header .author-text h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  margin-bottom: 10px;
}

header .author-text a {
  font-size: 1.3rem;
  font-weight: var(--weight-medium);
  color: var(--color-grey);
  letter-spacing: -0.1px;
}

/* ------ main ------ */
main {
  overflow: hidden;
}
/* ---- main #home ---- */

#home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  background: var(--bg2-light-white);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home .sec1 {
  display: flex;
  align-items: center;
}

.main-img {
  width: 400px;
  height: 400px;
  position: relative;
  top: -50px;
  left: -50px;
}

.main-img svg {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.main-img svg,
.main-img .img-box {
  position: absolute;
}

.main-img .img-box {
  width: 450px;
  height: 450px;
  background: url('../images/lg/img-user.jpg') no-repeat 89% -40%;
  background-size: 90%;
  -webkit-clip-path: url('#shape');
  clip-path: url('#shape');
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.sec1 .text {
  width: 600px;
}

.sec1 .text .tlt {
  font-size: var(--font-x-large);
  margin-bottom: 25px;
}

.sec1 .text p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: var(--font-x-small);
}

.sec1 .text p span {
  color: var(--point-blue);
  font-weight: var(--weight-semi-bold);
}

.sec1 .btn1 {
  width: 170px;
  height: 45px;
  display: inline-block;
  border: 2px solid transparent;
  background: var(--point-blue);
  border-radius: 15px;
  font-size: var(--font-x-small);
  font-weight: var(--weight-medium);
  line-height: 41px;
  text-align: center;
  color: var(--color-white);
}

.sec1 .btn1:hover {
  border: 2px solid var(--point-blue);
  background: transparent;
  color: #00a1df;
}
/* scroll down */

.scrolldown {
  margin: 0 auto;
  opacity: 0.6;
  position: relative;
  top: 70px;
  left: 0;
  transition: opacity 0.9s;
  width: 34px;
  height: 50px;
}
.scrolldown:hover {
  opacity: 1;
}
.scrolldown:hover .help-mouse-wheel:before,
.scrolldown:hover .help-mouse-wheel:after {
  animation: indicator-up-down 1.5s infinite ease-in-out;
  height: 8px;
  opacity: 0;
}

.scrolldown:hover .help-down {
  animation: arrow-down 0.3s infinite alternate;
}
.help-mouse-down {
  border: 2px solid var(--color-dark-grey);
  border-radius: 17px;
  height: 50px;
  margin: 15px auto 10px;
  position: relative;
  width: 30px;
}
.help-mouse-wheel {
  position: relative;
  left: 50%;
  transition: opacity 0.5s;
}

.help-mouse-wheel:before,
.help-mouse-wheel:after {
  content: '';
  background: var(--color-dark-grey);
  border-radius: 50%;
  margin-left: -2px;
  height: 4px;
  position: absolute;
  top: 5px;
  transition: top 0.5s, height 0.5s, opacity 0.5s;
  width: 4px;
}

.help-mouse-wheel:before {
  animation: scroll 1.5s 0.75s infinite ease-in-out;
}
.help-mouse-wheel:after {
  animation: scroll 1.5s infinite ease-in-out;
}

.help-down {
  animation: arrow-down 0.6s infinite alternate ease-in-out;
  border-bottom: 2px solid #cdcdcd;
  border-right: 2px solid #cdcdcd;
  display: block;
  height: 5px;
  margin: 0 auto;
  transform: rotate(45deg);
  transition: opacity 0.5s;
  width: 5px;
}
@-moz-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-webkit-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-o-keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    top: 5px;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 15px;
    opacity: 0;
  }
}
@-moz-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-webkit-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-o-keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@keyframes indicator-up-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20px;
  }
}
@-moz-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@-webkit-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@-o-keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
@keyframes arrow-down {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}

/* ---------- main about ---------- */
#about {
  width: 100%;
}

#about .container {
  padding: 90px 20px 120px;
}

#about .tit {
  margin-bottom: 60px;
}

#about .content-part {
  display: flex;
}

/* #about - leftPart */

.about-text h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin-bottom: 18px;
}
.about-text h3 span {
  font-weight: var(--weight-bold);
}

.about-text p,
.about-skill p {
  font-size: var(--font-x-small);
}

.about-text p + p {
  margin-top: 10px;
  margin-bottom: 40px;
}

/* Skill */

.about-skill h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-bottom: 21px;
}

.skillset {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin-bottom: 25px;
}

.skill:nth-of-type(2n) {
  margin-left: 30px;
}

.skill_description {
  font-size: var(--font-x-small);
  font-weight: var(--weight-medium);
  margin-bottom: 10px;
}

.skill__bar {
  width: 253px;
  height: 14px;
  border: 1px solid var(--point-blue);
  position: relative;
}

.skill__bar .skill_value {
  width: 0;
  height: 8px;
  background-color: var(--point-blue);
  position: absolute;
  top: 2px;
  left: 2px;
}
/* #about - rightPart */

/* ---------- main service ---------- */
#service {
  width: 100%;
  min-height: 100vh;
  background: var(--bg2-light-white);
}

#service .container {
  padding: 90px 20px 60px;
}

#service .tit {
  margin-bottom: 70px;
}

.swiper {
  max-width: 1170px;
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 350px;
}

.card-box {
  position: relative;
  padding: 48px 12px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  border: none;
}

.card-box .sec3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card-box .sec3.card1 {
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
}

.card-box .sec3.card1 h3 {
  margin-top: 90px;
  margin-bottom: 30px;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.card-box .sec3.card1 p {
  font-size: 1.5rem;
  color: var(--service-color);
}

.card-box .sec3.card2 {
  transition: 0.9s;
}

.card-box .sec3.card2.bg1 {
  background: url('../images/lg/service1-off.png') no-repeat;
}
.card-box .sec3.card2.bg2 {
  background: url('../images/lg/service-off-2.png') no-repeat;
}
.card-box .sec3.card2.bg3 {
  background: url('../images/lg/service-off-3.png') no-repeat;
}
.card-box .sec3.card2.bg4 {
  background: url('../images/lg/service-off-4.png') no-repeat;
}
.card-box .sec3.card2.bg5 {
  background: url('../images/lg/service-off-5.png') no-repeat;
}
.card-box .sec3.card2.bg6 {
  background: url('../images/lg/service-off-6.png') no-repeat;
}

.card-box:hover .sec3.card2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: 2px solid #00a1df;
}

.card-box .sec3.card2 h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.card-box:hover .sec3.card2 h3 {
  color: #00a1df;
  font-size: var(--font-medium);
}

.card-box .sec3.card2 h3:first-child,
.card-box:hover .sec3.card2 h3:last-child {
  display: block;
  white-space: nowrap;
}

.card-box:hover .sec3.card2 h3:first-child,
.card-box .sec3.card2 h3:last-child {
  display: none;
}

.swiper-pagination-bullet {
  /* position: absolute; */
  background: var(--point-blue);
}

/* main portfolio */
#portfolio {
  width: 100%;
  height: 100%;
}

#portfolio .container {
  padding: 100px 20px 120px;
}

#portfolio .tit {
  margin-bottom: 60px;
}

#portfolio .g-menu {
  height: 42px;
  text-align: center;
  margin-bottom: 45px;
}

#portfolio .g-menu li {
  display: inline-block;
  margin: 0 20px;
  line-height: 42px;
}

#portfolio .g-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-black);
  font-family: var(--main-font);
  font-size: var(--font-x-small);
  position: relative;
  white-space: nowrap;
}

#portfolio .g-menu li a.active {
  color: var(--point-blue);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

#gallery {
  margin: 0 auto;
}

.grid-item {
  width: 320px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-item .caption {
  border-radius: 0.25rem;
  width: 100%;
  height: 60px;
  background: var(--point-blue);
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.grid-item:hover .caption {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.grid-item .caption h3 {
  color: var(--color-white);
  font-size: var(--font-regular);
  margin-left: 30px;
}

.grid-item .caption .icon {
  display: flex;
}

.grid-item .caption .icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.grid-item .caption .icon a i {
  font-size: var(--font-medium);
  color: var(--color-white);
  margin-right: 25px;
}

.grid-item img {
  width: 90%;
  transition: all 0.8s ease-out;
}

.grid-item:hover img {
  width: 80%;
  transition: all 0.8s ease;
}

/* 매그니픽팝업 내 close btn */
.mfp-close {
  top: 15px;
  right: 15px;
}

.mfp-close:active {
  top: 15px;
}

.mfp-image-holder .mfp-close {
  top: 3px;
}
.mfp-image-holder .mfp-close:active {
  top: 3px;
}

/* portfolio - popup */

.white-popup {
  width: 600px;
  height: 670px;
  background: #fff;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.p-header {
  font-size: 1.7rem;
  font-weight: var(--weight-semi-bold);
  padding: 30px;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
}

.p-body {
  height: 520px;
}

.p-body .content-img {
  width: 600px;
  height: 350px;
  overflow: hidden;
}

.p-body .content-img img {
  width: 100%;
  transform: translateY(0px);
  transition-duration: 5s;
}

.p-body .content-img img:hover {
  animation: scrolling 10s;
}

@keyframes scrolling {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(calc(-15%));
  }
  40% {
    transform: translateY(calc(-35%));
  }
  60% {
    transform: translateY(calc(-55%));
  }
  80% {
    transform: translateY(calc(400px - 100%));
  }
  100% {
    transform: translateY(0px);
  }
}

.p-body .content-text {
  margin: 30px 20px;
}

.p-body .content-text p {
  font-size: var(--font-x-small);
  line-height: 25px;
}

.p-footer {
  height: 70px;
  padding: 0 10px;
  line-height: 70px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.p-footer .btn {
  padding: 10px 30px;
  color: var(--color-black);
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-weight: var(--weight-semi-bold);
}

.p-footer .btn:hover {
  color: #fff;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: inset 0px 0px 0px var(--point-blue);
  display: block;
  -webkit-transition: all 0.8s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.8s cubic-bezier(0.5, 0.24, 0, 1);
}
/* if you want it to show from the right use -300px instead */
.btn:hover::before {
  box-shadow: inset 300px 0px 0px var(--point-blue);
}

/* ---------- main contact ---------- */
#contact {
  width: 100%;
  min-height: 100vh;
  background: var(--bg2-light-white);
}

#contact .container {
  padding: 90px 20px 60px;
}

#contact .tit {
  margin-bottom: 70px;
}

#contact .contact-title {
  width: 100%;
  height: 85px;
  text-align: center;
  margin-bottom: 120px;
  position: relative;
}
#contact .contact-title::after {
  content: '';
  display: block;
  width: 2px;
  height: 65px;
  background-color: var(--point-blue);
  position: absolute;
  top: 120px;
  left: 50%;
}
#contact .contact-title h3 {
  font-size: 3rem;
  font-weight: var(--weight-semi-bold);
  color: var(--point-blue);
  font-family: var(--korean-font);
  margin-bottom: 6px;
}

#contact .contact-card {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-card .card {
  width: 320px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.contact-card .card .emoji {
  width: 50px;
  height: 50px;
  background: var(--point-blue);
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
}

.contact-card .card .emoji i {
  font-size: 2rem;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-card .card .contact-text {
  margin-left: 20px;
}
.contact-card .card h4 {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  margin-bottom: 10px;
}

.contact-card .card p {
  font-size: var(--font-x-small);
  font-family: var(--main-font);
  font-weight: var(--weight-medium);
  color: var(--color-grey);
}

.contact-card .card .git-address {
  font-size: var(--font-x-small);
  transition: 0.2s ease;
  color: var(--color-grey) !important;
}
.contact-card .card .git-address:hover {
  font-size: 1.5rem;
  color: #00a1df !important;
}

.contact-card .card img {
  width: 60px;
  height: 60px;
}

.qr-dark {
  display: none;
}

.qr-light {
  display: block;
}

.contact-card .card:nth-child(3) .contact-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-card .card:nth-child(3) .contact-text img {
  margin-left: 20px;
}

/* ---------- Footer ---------- */
footer {
  width: 100%;
  height: 70px;
  padding-left: 288px;
  text-align: center;
}

footer p {
  font-size: var(--font-micro);
  line-height: 70px;
  font-family: var(--main-font);
}

/* arrow up  */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(226, 209, 209, 0.2);
  box-shadow: inset 0 0 0 2px rgba(226, 209, 209, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap i {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: '';
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #1e1e22;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: #1e1e22;
  stroke-width: 3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap {
  -webkit-box-shadow: inset 0 0 0 2px rba(39, 39, 39, 0.2);
  box-shadow: inset 0 0 0 2px gba(39, 39, 39, 0.2);
}
.progress-wrap::after {
  color: #1e1e22;
}
.progress-wrap svg.progress-circle path {
  stroke: #1e1e22;
}
