@charset "utf-8";

@import url(main.css);

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 1;
}

/********* Media Query Area Start ***********/
/********* Wide Area Start ***********/
@media screen and (max-width: 1199px) {
  /* ==== header ==== */
}
